<li>
	{{name}}

	<button class="change-eat" data-id="{{id}}" data-newsleep="{{eaten}}">
		{{#if eaten}}Eat the burger!{{else}}Have another!{{/if}}
	</button>

	<button class="delete-burger" data-id="{{this.id}}">-remove-</button>
</li>
